### Student Last Name: Flynn 
### Student First Name: Joseph

Spring 2020 Programming for Analytics CIS 3120 PTRB[26809] (Baruch College) 
HW#2 numPy Panda

## Question#1:
### Write a NumPy program to create a structured array from given student name, height, class and their data types. Sort the array on height.

In [1]:
import numpy as np
data_type = [('name', 'S15'), ('class', int), ('height', float)]
students_details = [('John', 5, 48.5), ('Nat', 6, 52.5),('Pat', 4, 32.10), ('Patty', 7, 60.11)]

#sets array using student_details as data and has it sorted by data_type
students =  np.array(students_details, dtype = data_type)

print("Original array:")
#prints original array
print(students)

print("Sort by height")
#sorts array by height from low to high and then prints sorted array
print(np.sort(students, order = 'height'))

Original array:
[(b'John', 5, 48.5 ) (b'Nat', 6, 52.5 ) (b'Pat', 4, 32.1 )
 (b'Patty', 7, 60.11)]
Sort by height
[(b'Pat', 4, 32.1 ) (b'John', 5, 48.5 ) (b'Nat', 6, 52.5 )
 (b'Patty', 7, 60.11)]

## Question#2:
### Write a NumPy program to count the number of days of a given month for the given years.

In [2]:
import numpy as np
print("Number of days, February, 2020: ")
#stored the subtracted dates from each other to get the difference, which equals the days between
Feb_2020 = np.datetime64('2020-03-01')- np.datetime64('2020-02-01')
print(Feb_2020)

print("Number of days, February, 2021: ")
#stored the subtracted dates from each other to get the difference, which equals the days between
Feb_2021 = np.datetime64('2021-03-01')- np.datetime64('2021-02-01')
print(Feb_2021)

print("Number of days, February, 2022: ")
#stored the subtracted dates from each other to get the difference, which equals the days between
Feb_2022 = np.datetime64('2022-03-01')- np.datetime64('2022-02-01')
print(Feb_2022)

Number of days, February, 2020:
29 days
Number of days, February, 2021:
28 days
Number of days, February, 2022:
28 days

## Question#3:
### Write a NumPy program to combine last element with first element of two given ndarray with different shapes.

In [3]:
import numpy as np
array1 = ['PHP','JS','C++']
array2 = ['Python','C#', 'NumPy']    
print("Original arrays:")          
print(array1)
print(array2)

#stores elements before index 2 of array1
ar_1 = array1[:2]

#combines the last element of array1 and first element from array2
ar_2 = np.r_[[array1[-1]+array2[0]]]
#takes ar_2 as a single element in a list
ar_3 = [ar_2[0]]

#stores elements after index 0 of array2
ar_4 = array2[1:]

#combine the 3 new lists as one list
result  = ar_1+ar_3+ar_4
print("\nAfter Combining:")  
#print the combined list
print(result)

Original arrays:
['PHP', 'JS', 'C++']
['Python', 'C#', 'NumPy']

After Combining:
['PHP', 'JS', 'C++Python', 'C#', 'NumPy']

## Question#4:
### Write a Pandas program to convert a dictionary to a Pandas series.

In [4]:
import pandas as pd
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

print("Original dictionary:")
print(d1)

#stores original dictionary as series
new_series = pd.Series(d1)
print("Converted series:")
#prints the new_Series that was created prior
print(new_series)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

## Question#5:
### Write a Pandas program to get the items which are not common of two given series.

In [5]:
import pandas as pd
import numpy as np
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItems of a given series not present in another given series:")

#function finds items in sr1 not in sr2
sr11 = np.setdiff1d(sr1, sr2)
#function finds items in sr2 not in sr1
sr22 = np.setdiff1d(sr2, sr1)
#combines both series by using concatenate to combine data on the same axis
#then make the data into a series, which resets the index
result = pd.Series(np.concatenate((sr11, sr22), axis=None))
#prints the combined series 
print(result)

#if you want to keep the original index from each list
#sr112 = pd.Series(np.setdiff1d(sr1, sr2))
#sr222 = pd.Series(np.setdiff1d(sr2, sr1))
#result2 = pd.Series(sr112.append(sr222))
#print(result2)

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of a given series not present in another given series:
0     1
1     3
2     5
3     6
4     8
5    10
dtype: int64

## Question#6:
### Write a Pandas program to calculate the total of the examination attempts and the mean score in data frame.
### Display the first four rows in the output.

In [6]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#creates a dataframe using exam_data as the source with column coming from the dictionary keys
#it also indexed each row by letter
df = pd.DataFrame(data = exam_data, index = labels)

print("\nSum of the examination attempts by the students:")
#takes the column of attempts from the dataframe and totals the entries in the column
#this sum is then printed
print(df['attempts'].sum())

print("\nMean score for each different student in data frame:")
#takes the column of score from the dataframe and averages the total entries in the column
#this average is then printed
print(df['score'].mean())
#prints the first 4 rows using the number index
print(df[0:4])

#same way to get the four first rows using the letter index
#print(df['a':'d'])

Sum of the examination attempts by the students:
19

Mean score for each different student in data frame:
13.5625
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no

## Reference(s) title & URL: