Programming for Analytics CIS 3120 PTRB[26809] (Baruch College) 
 Group Openrations and Data Aggregation Process

### Student Last Name: Flynn
### Student First Name: Joseph

## Question#1:
###  Suppose you are provided the Dataframe below. Compute the mean of the `data1` column using the labels from `key1`.

**NOte**: access `data1` and call `groupby` with the column (a Series) at `key1`
*   My Output may not match with your's since we are using `np.random.randn(5)



`

In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.437061  2.042450
1    a  two -0.864340 -2.723726
2    b  one -0.342981  0.237081
3    b  two -0.846742 -1.972185
4    a  one -1.252831 -1.784236

In [2]:
#groups by the values in key1 and then takes the mean for the data in data1
grouped =  df.groupby('key1')['data1'].mean()
grouped

key1
a   -0.851411
b   -0.594861
Name: data1, dtype: float64

## Question#2:
### Derive the `mean` for the series below using Group by into `states, years`

In [3]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1']

0   -0.437061
1   -0.864340
2   -0.342981
3   -0.846742
4   -1.252831
Name: data1, dtype: float64

In [4]:
#creates a dataframe of states, years, and values
x = pd.DataFrame({'states':states, 'years':years, 'values':df['data1']})
#groups by states than years and calculates the mean
x.groupby(['states','years']).mean()

                    values
states     years
California 2005  -0.864340
           2006  -0.342981
Ohio       2005  -0.641902
           2006  -1.252831

## Question#3:
### Explain the code and output below

In [5]:
df['data1'].describe() #describe prints out a list of descriptors based on the data

##########################
#count - how many data points there are in the series
#mean - the average of the series 
#std - the standard deviation of the data or the measure of distance from the mean the data has
#min - the lowest value in the data
#25% - the 25% percentile, this means 25% of data points are below that value and 75% lies above
#50% - the 50% percentile or median, this means half the data lies below this point and half lies above
#75% - the 75% percentile, this mean 75% of data points are below that value and 25% lies above
#max- the highest value of the data set
##########################

#######Current output meaning# (values will change if the first block of code is run again)######

#count - there are 5 data points in the series
#mean - the average of the series is 0.736363 = (sum of values)/(# of values)
#std - the standard deviation is 1.406293, 2*std+-mean = 95% of values are contained if it follows a normal distribution
#min - lowest value is -1.537472
#25% - 25% of values fall below 0.345615 and 75% of values fall above 0.345615
#50% - the median is 1.249485, 50% fall above 1.249485 and 50% fall below 1.249485
#75% - 75% of values fall below 1.741556 and 25% of values fall above 1.741556
#max - the max value is 1.882629

count    5.000000
mean    -0.748791
std      0.367035
min     -1.252831
25%     -0.864340
50%     -0.846742
75%     -0.437061
max     -0.342981
Name: data1, dtype: float64

## Question#4:
### Explain the code and output below

In [6]:
df['data2'].describe()

##########################
#count - how many data points there are in the series
#mean - the average of the series 
#std - the standard deviation of the data or the measure of distance from the mean the data has
#min - the lowest value in the data
#25% - the 25% percentile, this means 25% of data points are below that value and 75% lies above
#50% - the 50% percentile or median, this means half the data lies below this point and half lies above
#75% - the 75% percentile, this mean 75% of data points are below that value and 25% lies above
#max- the highest value of the data set
##########################

#######Current output meaning# (values will change if the first block of code is run again)######

#count - there are 5 data points in the series
#mean - the average of the series is -0.285723 = (sum of values)/(# of values)
#std - the standard deviation is 0.665507, 2*std+-mean = 95% of values are contained if it follows a normal distribution
#min - lowest value is -1.336309
#25% - 25% of values fall below -0.515353 and 75% of values fall above -0.515353
#50% - the median is -0.030024, 50% fall above -0.030024 and 50% fall below -0.030024
#75% - 75% of values fall below 0.114870 and 25% of values fall above 0.114870
#max - the max value is  0.338199

count    5.000000
mean    -0.840123
std      1.948748
min     -2.723726
25%     -1.972185
50%     -1.784236
75%      0.237081
max      2.042450
Name: data2, dtype: float64

## Reference(s) title & URL:
*